  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #container {
    margin: auto;
    margin-top: 30px;
    position: relative;
    width: 1280px;
  }

  #chart {
    width: 1280px;
    background-color: #1d1f20;
  }

  #chart svg {
    margin-top: 30px;
    margin-left: 80px;
  }

  #sidebar {
    height: 702px;
    width: 400px;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    float: right;
    background-color: #3c4247;
    color: #fff;
    overflow: scroll;
  }

  #sidebar .circle {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
  }

  .extra {
    width: 350px;
    margin-top: 6px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-strict;
    overflow: hidden;

    -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    display: none;
  }

  #children {
    margin-top: 30px;
    font-size: 12px;
  }

  #children span {
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: middle;
  }

  #sidebar div.size {
    float: right;
  }

  #sidebar .item {
    margin: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-strict;
    overflow: hidden;
  }

  #children .name {
    width: 100px;
  }

  #children .item:hover {
    cursor: pointer;
  }

  .tooltip, .tooltip-pending-removal {
    position: absolute;
    background-color: rgba(255,255,255,1);
    padding: 10px;
    border: 1px solid #ddd;
    z-index: 10000;
    display: inline-block;
    font-family: Arial;
    font-size: 13px;
    border-radius: 10px;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .tooltip {
    transition: opacity 500ms linear;
    -webkit-transition: opacity 500ms linear;
    transition-delay: 500ms;
    -webkit-transition-delay: 500ms;
    -moz-box-shadow: 4px 4px 8px rgba(0,0,0,.5);
    -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,.5);
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
  }

path {
  stroke: #1d1f20;
  stroke: #fff;
  fill-rule: evenodd;
}

path:hover {
    cursor: pointer;
}
